<h1>Show all questions</h1>
<h2>Current test:<%= @test.title %></h2>
<table border="1">
  <tr>
    <th>Question title</th>
    <th>Question created at</th>
    <th>Test this id</th>
    <th>Delete question</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.created_at %></td>
      <td><%= link_to 'Show', test_path(question) %></td>

    </tr>
  <% end %>

</table>
<br/>
