<div class="row" align="right">
  <div class="col-12" style="height: 50px; padding: 5px;">
    <% if current_user.present? %>
      <% current_user.user_badges.each do |user_badge| %>
        <%= image_tag("#{Badge.find(user_badge).badgeurl}", {:style => "width:70px;", title: "#{Badge.find(user_badge).description}"}) %>
      <% end %>
    <% end %>
  </div>

</div>
