<div class="row" align="right">
  <div class="col-12" style="height: 50px; padding: 5px;">
    <% if current_user.present? %>
      <% current_user.badges.each do |b| %>
        <%= image_tag("#{b.badgeurl}", {:style => "width:70px;", title: "#{b.description}"}) %>
      <% end %>
    <% end %>
  </div>

</div>
