<div class="card" style="background-color: #9f8f6f;">
  <div class="card-header"><b> about this project </b></div>
    <div class="card-body">

      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer"><a href="author" target="_blank"> about author this project </a><br/></footer>
        <footer class="blockquote-footer"><a href="http://thinknetica.com" target="_blank"> Project was created due school www.thinknetica.com </a><br/></footer>
      </blockquote>

        Проект "Test Guru", First task in my course of "Ruby on Rails"<br/>
        Year from helper: <%= current_year %> and local time: <%= I18n.l(Time.now) %>
        <p> <%= github_url('archyfly', 'testguru') %> </p>

        <p> Test for User is admin?  <%= current_user.admin? if current_user.present? %> </p>

  </div>
</div>
