<h4><b>----------- Footer test (file in views/shared/_footer.html.erb) ---------------</b></h4>
<html>
  <head>
  <title>Проект "Test Guru"</title>
  <meta charset="windows-1251">

  </head>
  <body>
    <h4>Проект "Test Guru"</h4>
    <h4>First task in my course of "Ruby on Rails"</h4>
    <a href="/about/author" target="_blank"> about author this project </a>
    <h6></h6>
    <a href="http://thinknetica.com" target="_blank"> Project was created due school www.thinknetica.com </a>
  </body>
</html>
