<% if logged_in? %>
  <p class='flash' align='center'> Welcome!!!! </p>
  <td>
    <%= link_to 'logout', logout_path, method: :delete %>
  </td>
<% else %>
  <p class='user nav' align='center'>Проект "Test Guru"</p>
  <table align = "right">
    <td>
      <a href="/login" target="_self"> Log in </a></p><br/>
    </td>
    <td>
      <a href="/signup" target="_self"> Register </a></p><br/>
    </td>
  </table>
<% end %>
