<font color="green"><b>
  <div class="timeStartTest"><%= time_start = I18n.l(Time.now) %></div>

  <div class="setTestDuration"><%= @test_passage.test.test_duration %> minute for passage this test</div></b>
  <div class="timeNow" style="display: none"><%= I18n.l(Time.now) %></div>

</font>

<div id="clockdiv">
  <div>Time remaining:
    <span class="minutes"></span>
      <div class="smalltext">Minutes:</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds:</div>
    </div>
  </div>
</div>
