<h1>Show all questions</h1>

<table border="1">
  <tr>
    <th>Test id</th>
    <th>Question id</th>
    <th>Question title</th>
    <th>Question created at</th>

  </tr>

<!-- это просмотр всех вопросов -->
 <%= render @question %>

</table>
<br/>
