<h1>Show all feedbacks</h1>

<table class="table table-striped table-dark" border = "1">
  <tr>
    <th>user name:</th>
    <th>user last name:</th>
    <th>feedback</th>
  </tr>

  <% @feedbacks.each do |fb| %>
    <tr>
      <td><%= fb.user.first_name %></td>
      <td><%= fb.user.last_name %></td>
      <td><%= fb.feedback %></td>

    </tr>
  <% end %>
</table>

<br/>
