.flash {
  border: 2px solid;
  padding: 15px;
  border-radius: 5px;
  background: #b8eae1;
}

.flash.alert {
  border-color: #ef2727;
}

.flash.test {
  border-color: #014444;
}

.flash.notice {
  border-color: #227018;
  background: #60c452;
}
